
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
  font-family: 'Inter', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; 
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5); 
}


.custom-scrollbar {
  scrollbar-width: thin; 
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1); 
}

/* Add styles for the loading spinner if needed */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

#nprogress {
  pointer-events: none; /* Prevent interaction with the progress bar */
}

/* Customize the bar */
#nprogress .bar {
  background: #7d0000; /* A bold color for the progress bar */
  height: 4px; /* Slightly thicker for better visibility */
  border-radius: 2px; /* Rounded corners for a modern look */
}

/* Add an animation to the bar */
#nprogress .bar {
  transition: width 0.2s ease-in-out; /* Smooth transition for width changes */
}

/* Customize the spinner */
#nprogress .spinner {
  position: fixed; /* Fix spinner position */
  top: 15px; /* Adjust top position */
  right: 15px; /* Adjust right position */
  width: 80px; /* Size of the spinner */
  height: 80px; /* Size of the spinner */
}

/* Customize the spinner icon */
#nprogress .spinner-icon {
  border-top: 3px solid #ac0202; /* Match the spinner color with the bar */
  border-right: 3px solid transparent; /* Transparent side */
  border-radius: 50%; /* Circular spinner */
  width: 100%; /* Full width of the spinner container */
  height: 100%; /* Full height of the spinner container */
  animation: spin 1s linear infinite; /* Spin animation */
}

/* Keyframes for spinner animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
